# Python cache
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django media & collected static
media/
staticfiles/

# Node (agar future me frontend add ho)
node_modules/