# Core Web Framework
Django==6.0.4
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.1

# Environment Variables & Security
python-dotenv==1.2.2
django-axes==8.3.1

# Media & Image Handling
pillow==12.2.0

# Static Files & Production Web Server
whitenoise==6.12.0
gunicorn==26.0.0

# Database & Cloudinary (Production/Deployment)
dj-database-url
psycopg2-binary
cloudinary
django-cloudinary-storage
