<aside class="hidden w-64 bg-gray-800 text-white md:flex flex-col fixed left-0 top-0 h-screen">
    <div class="p-5 text-2xl font-bold border-b border-indigo-800">
        Admin Panel
    </div>

    <nav class="flex-1 p-4 space-y-2 overflow-y-auto">
        <a href="{% url 'admin' %}" class="{% if request.path == '/admin/' %} bg-blue-600 {% else %} hover:bg-indigo-800 {% endif %} block py-2.5 px-4 rounded transition">Dashboard</a>
        <a href="{% url 'project-add' %}" class="{% if request.path == '/admin/project-add/' %} bg-blue-600 {% else %} hover:bg-indigo-800 {% endif %} block py-2.5 px-4 rounded transition">Projects</a>
        <a href="{% url 'team-add' %}" class="{% if request.path == '/admin/team-add/' %} bg-blue-600 {% else %} hover:bg-indigo-800 {% endif %} block py-2.5 px-4 rounded transition">Our Team</a>
        <a href="{% url 'add-skill' %}" class="{% if request.path == '/admin/add-skill/' %} bg-blue-600 {% else %} hover:bg-indigo-800 {% endif %} block py-2.5 px-4 rounded transition">Add Skills</a>
        <a href="#" class="block py-2.5 px-4 rounded hover:bg-indigo-800 transition">Contact</a>
        <a href="#" class="block py-2.5 px-4 rounded hover:bg-indigo-800 transition">About</a>
        
    </nav>
</aside>